<h2 class="center">Course Data for <%= course.name %></h2>
<table class="table">
    <tbody>
        <tr>
            <td>Name</td>
            <td>
                <%= course.name %>
            </td>
        </tr>
    </tbody>
</table>